{% extends "layout.twig" %}

{% block content %}

<div class="row py-5 px-4">

	{% if request %}
    	<div class="col-lg-7 mx-auto">
    		<p>Vous avez une demande d'ami de {{ request.0.name }}</p>
    		<a class ="btn btn-primary" href="/addedfriend">Accepter</a>
    		<a class ="btn btn-danger" href="/ignorefriend">Refuser</a>
    	</div>
	{% endif %}
	
    <div class="col-xl-8 col-md-8 col-sm-10 mx-auto">

    	<form method="POST" action="addavatar" enctype="multipart/form-data">
        	<input type="file" name="image"/>
        	<input type="submit" class="btn btn-primary" name="submit" value="Envoyer" />
        </form>

        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 bg-dark">
                <div class="media align-items-end profile-header">
                    <div class="profile mr-3">
                    	<img src="uploads/avatar/{{ profile }}/{{ avatar_file }}" alt="..." width="150" class="rounded mb-2 img-thumbnail">
                    	<a href="#" class="btn btn-light btn-sm btn-block">Editer mon Profil</a>
                    	<a href="{{ path_for('deconnexion') }}" class="btn btn-light btn-sm btn-block">Se deconnecter</a>
                    </div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0">{{ profile }}</h4>
                        <p class="small mb-4"> <i class="france flag"></i>France</p>
                    </div>
                </div>
            </div>

            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">{{ imgnbr }}</h5><small class="text-muted"> <i class="fa fa-picture-o mr-1"></i>Photos</small>
                    </li>
                </ul>
            </div>
            
            <!-- Friends -->
            <div class="py-4 px-4"">
            	<div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Amis</h5><a href="#" class="btn btn-link text-muted">Show all</a>
                </div>
                {% if not friends %}
                	<p>Vous n'avez pas encore d'amis !</p>
                {% endif %}
                <div class="row">
					{% for friendship in friends %}
						<span>
							<img src="uploads/avatar/{{ friendship.avatar_file }}" class="rounded-circle" alt="friend avatar" height="35">{{ friendship.name }}
						</span>
					{% endfor %}
                </div>
            </div>

            <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Photos récentes</h5><a href="#" id="showAllImages" class="btn btn-link text-muted">Show all</a>
                </div>
                {% if not recentimg %}
                	<p>Vous n'avez pas encore publié de photos !</p>
                {% else %}
                <div class="row">
                    <div class="col-lg-6 mb-2 pr-lg-1"><img src="uploads/photos/{{ recentimg.0.filename }}" alt="" class="img-fluid rounded shadow-sm"></div>
                    <div class="col-lg-6 mb-2 pr-lg-1"><img src="uploads/photos/{{ recentimg.1.filename }}" alt="" class="img-fluid rounded shadow-sm"></div>
                    <div class="col-lg-6 mb-2 pr-lg-1"><img src="uploads/photos/{{ recentimg.2.filename }}" alt="" class="img-fluid rounded shadow-sm"></div>
                    <div class="col-lg-6 mb-2 pr-lg-1"><img src="uploads/photos/{{ recentimg.3.filename }}" alt="" class="img-fluid rounded shadow-sm"></div>
                </div>
               {% endif %}
            </div>
        </div><!-- End profile widget -->
        

		
    </div>
</div>

<!-- Image Overlay -->
<div id="overlay" class="overlay-profile">
	<div id="profile-content-wrapper" class="mx-auto">
		<div id="profile-content-title">
			<h2>Mes Photos</h2>
			<span id="icon-exit">
				<i class="fas fa-times"></i>
			</span>
		</div>

		<div id="profile-images-wrapper" class="d-flex justify-content-around flex-row flex-wrap">
		</div>
		<!--   <div id="test-design"> -->
			<div id="myphoto-wrapper">
				<!--   <img id="myphoto" src="uploads/photos/ba5a170e7ba993d9.jpg" /> -->
				<span id="icon-exit-full">
					<i class="fas fa-times"></i>
				</span>
				<div id="myphoto-panel" class="d-flex align-items-center justify-content-around">
					<form id="delete" method="POST" action="profile/deleteimg">
    					<input type="hidden" id="imgId" class="imgId" name="imgId" value="23" />
    					<input type="hidden" id="filename" class="filename" name="filename" value="placeholder" />
    					<button class="btn btn-secondary comment" id="delete-btn">
    					<i class='fas fa-trash-alt'></i>
						Supprimer la photo
						</button>
					</form>
					<form id="editImg" method="POST" action="profile/editimg">
    					<input type="hidden" id="imgId" class="imgId" name="imgId" value="23" />
    					<button class="btn btn-secondary comment" id="delete-btn">
    					<i class='fas fa-edit'></i>
						Editer la photo
						</button>
					</form>
				</div>
			</div>
	</div>

</div>



{% endblock %}