{% extends "layout.twig" %}

{% block content %}
{{ include ('flash.twig') }}
<div class="row py-5 px-4">

	{% if request %}
    	<div class="col-lg-7 mx-auto">
    		<p>Vous avez une demande d'ami de {{ request.0.name }}</p>
    		<a class ="btn btn-primary" href="/addedfriend">Accepter</a>
    		<a class ="btn btn-danger" href="/ignorefriend">Refuser</a>
    	</div>
	{% endif %}
	{{ messages }}
    <div class="col-xl-9 col-md-9 col-sm-10 mx-auto">

        <div id="profile-container" class="bg-white rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 bg-dark">
                <div class="media align-items-end profile-header">
                    <div class="profile mr-3">
                    	<img src="{{ avatar }}" alt="..." width="150" class="rounded mb-2 img-thumbnail">
                    	<a href="#" class="btn btn-light btn-sm btn-block">Editer mon Profil</a>
                    	<a href="{{ path_for('deconnexion') }}" class="btn btn-light btn-sm btn-block">Se deconnecter</a>
                    </div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0">{{ profile }}</h4>
                        <p class="small mb-4"> <i class="france flag"></i>France</p>
                    </div>
                </div>
                
                <div id="profile-nav">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                      <li class="nav-item">
                        <span class="profile-btn active" id="view-profile" data-toggle="tab" href="#tab-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
                        	<i class="fas fa-user"></i>
                        </span>
                      </li>
                      <li class="nav-item">
                      	<span class="profile-btn" id="edit-profile" data-toggle="tab" href="#tab-profile-settings" role="tab"  aria-selected="false">
                      		<i class="fas fa-cog"></i>
                      	</span>
                      </li>
                    </ul>

                </div>
            </div>
            <div class="tab-content">
        		<div class="tab-pane fade show active" role="tabpanel" id="tab-profile">
                    <div class="bg-light p-4 d-flex justify-content-end text-center">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <h5 class="font-weight-bold mb-0 d-block">{{ imgnbr }}</h5><small class="text-muted"> <i class="fa fa-picture-o mr-1"></i>Photos</small>
                            </li>
                        </ul>
                    </div>
                    <a href="/add">Ajouter contenus</a>
                    <a href="/flash">Test flash</a>
                    <!-- Friends -->
                    <div class="py-4 px-4"">
                    	<div class="d-flex align-items-center justify-content-between mb-3">
                            <h5 class="mb-0">Amis</h5><a href="#" class="btn btn-link text-muted">Show all</a>
                        </div>
                        {% if not friends %}
                        	<p>Vous n'avez pas encore d'amis !</p>
                        {% endif %}
                        <div class="row">
        					{% for friendship in friends %}
        						<span>
        							<img src="uploads/avatar/{{ friendship.avatar_file }}" class="rounded-circle" alt="{{ friendship.name }} avatar" height="35">{{ friendship.name }}
        						</span>
        					{% endfor %}
                        </div>
                    </div>
        
                    <div class="py-4 px-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h5 class="mb-0">Photos récentes</h5><a href="#" id="showAllImages" class="btn btn-link text-muted">Show all</a>
                        </div>
                        {% if not recentimg %}
                        	<p>Vous n'avez pas encore publié de photos !</p>
                        {% else %}
                        <div class="row">
                        	{% for images in recentimg %}
                            	<div class="col-lg-6 mb-2 pr-lg-1"><img src="uploads/photos/{{ images.filename }}" alt="" class="img-fluid my-photos rounded shadow-sm"></div>
                            {% endfor %}
                        </div>
                       {% endif %}
                    </div>
                 </div>
                 <div class="py-4 px-4 tab-pane fade" role="tabpanel" id="tab-profile-settings">
                    <form method="POST" action="/settings" class="form" id="PLACEHOLDER" enctype="multipart/form-data">
                    	<h3>Modifier mes informations</h3>
                    	<div class="form-group">
    						<label for="inputEmail">Adresse e-mail</label>
    						<input type="email" class="form-control" id="inputEmail" name="email" placeholder="nom@exemple.com">
  						</div>
                    	<div class="form-group">
                    		<label for="inputPassword">Mot de passe</label>
                    		<input type="password" class="form-control" id="inputPassword" placeholder="Mot de passe">
                    	</div>
                    	<div class="form-group">
                    		<input type="password" class="form-control" id="inputPassword" placeholder="Répeter mot de passe">
                    	</div>
                    	<!-- <input type="submit" class="btn btn-primary" name="submit" value="Modifier mon profil" /> -->
                    	<h3>Mes Avatars</h3>
                    	<div class="row">
                        	<div class="form-group col-md-6">
                            	<div class="form-check avatar-form">
                            		<input class="form-check-input" type="radio" name="avatarId" id="activeAvatar" value="1" checked>
                            		<label class="form-check-label" for="activeAvatar">Votre avatar actuel</label>
                            		<img src="{{ avatar }}" width="50" alt="active-avatar">
                            	</div>
                        		{% for key, custom_avatar in inactive_avatars %}
                        		<div class="form-check avatar-form">
                        			<input class="form-check-input" type="radio" name="avatarId" value="{{ custom_avatar.id }}">
                            		<label class="form-check-label" for="activeAvatar">Avatar {{ key }}</label>
                            		<img src="uploads/avatar/{{ profile }}/{{ custom_avatar.avatar_file }}" width="50" alt="inactive-avatar">
                            		<a href="delete?id={{ custom_avatar.id }}">Supprimer</a>
                        		</div>
                        		{% endfor %}
                    		</div>
                    		<div class="form-group col-md-6">
                    		</div>
                		</div>
                		<!--  <input type="submit" class="btn btn-primary" name="submit" value="Modifier mon Avatar" /> -->
            			<h4>Ajouter un nouvel avatar</h4>
                		<div id="upl-avatar-form" class="form-row">
                        	<div class="add-avatar-pnl col-md-6">
                    			<input type="file" class="form-control-file" id="avatar-form" name="image"/>
                    		</div>
                    		<div id="avatar-preview-ctn" class="add-avatar-pnl col-md-6"></div>
                    	</div>
                		<input type="submit" class="btn btn-primary" name="submit" value="Modifier mon profil" />
            		</form>
                 </div>
             </div>
        </div><!-- End profile widget -->
               
		
    </div>
</div>

<!-- Image Overlay -->
<div id="overlay" class="overlay-profile">
	<div id="profile-content-wrapper" class="mx-auto">
		<div id="profile-content-header">
			<span class="myimgs-icon">
				<i class="fas fa-images"></i>
			</span>
			<h2 class="myimages-title">Mes Photos</h2>
			<span class="icon-exit">
				<i class="fas fa-times"></i>
			</span>
		</div>
		<div id="profile-images-wrapper" class="d-flex justify-content-around flex-row flex-wrap">
		</div>
		<div id="image-navigation">
			<nav aria-label="navigation images">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
           </nav>
		</div>
		<div id="myphoto-wrapper">
			<span class="icon-exit-full">
				<i class="fas fa-times"></i>
			</span>
			<div id="myphoto-panel" class="d-flex align-items-center justify-content-around">
				<form id="delete" method="POST" action="profile/deleteimg">
					<input type="hidden" id="imgId" class="imgId" name="imgId" value="23" />
					<input type="hidden" class="postId" name="postId" value="1" />
					<input type="hidden" id="filename" class="filename" name="filename" value="placeholder" />
					<button class="btn btn-secondary comment" id="delete-btn">
					<i class='fas fa-trash-alt'></i>
					Supprimer la photo
					</button>
				</form>
				<form id="editImg" method="POST" action="profile/editimg">
					<input type="hidden" id="imgId" class="imgId" name="imgId" value="23" />
					<input type="hidden" id="postId" class="postId" name="postId" value="1" />
					<button class="btn btn-secondary comment" id="delete-btn">
					<i class='fas fa-edit'></i>
					Editer la photo
					</button>
				</form>
			</div>
		</div>
	</div>

</div>



{% endblock %}