{% extends "layout.twig" %}

{% block content %}

{{ dump(request) }}

<div class="row py-5 px-4">

	{% if request %}
    	<div class="col-lg-7 mx-auto">
    		<p>Vous avez une demande d'ami de {{ request.0.name }}</p>
    		<a class ="btn btn-primary" href="/addedfriend">Accepter</a>
    		<a class ="btn btn-danger" href="/ignorefriend">Refuser</a>
    	</div>
	{% endif %}
    <div class="col-xl-7 col-md-7 col-sm-10 mx-auto">

        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 bg-dark">
                <div class="media align-items-end profile-header">
                    <div class="profile mr-3">
                    	<img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                    	<a href="#" class="btn btn-light btn-sm btn-block">Editer mon Profil</a>
                    	<a href="{{ path_for('deconnexion') }}" class="btn btn-light btn-sm btn-block">Se deconnecter</a>
                    </div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0">{{ profile }}</h4>
                    </div>
                </div>
            </div>

            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">{{ imgnbr }}</h5><small class="text-muted"> <i class="fa fa-picture-o mr-1"></i>Photos</small>
                    </li>
                </ul>
            </div>

            <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Photos récentes</h5><a href="#" class="btn btn-link text-muted">Show all</a>
                </div>
                <div class="row">
                    <div class="col-lg-6 mb-2 pr-lg-1"><img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" alt="" class="img-fluid rounded shadow-sm"></div>
                    <div class="col-lg-6 mb-2 pl-lg-1"><img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" alt="" class="img-fluid rounded shadow-sm"></div>
                    <div class="col-lg-6 pr-lg-1 mb-2"><img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" alt="" class="img-fluid rounded shadow-sm"></div>
                    <div class="col-lg-6 pl-lg-1"><img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" alt="" class="img-fluid rounded shadow-sm"></div>
                </div>
            </div>
        </div><!-- End profile widget -->

    </div>
</div>



{% endblock %}