{% extends "layout.twig" %}

{% block content %}
	{{ include ('flash.twig') }}
	
	<div class="col-lg-5">
    	<h2>Test ajout données</h2>
    	
            	
        {# {{ dump(flash.errors) }} #}
    	
        <form id="form" method="post" action="addcontent">
            <div class="form-group">
                <label for="titre">Titre</label><br />
                <input type="text" class="form-control{% if flash.errors.name %} is-invalid{% endif %}" name="name" placeholder="Title" value="{{ old.name }}"/>
                {% if flash.errors.name %}
                	<span class="text-danger">{{ flash.errors.name }}</span>
                {% endif %} 
            </div>
            <div class="form-group">
            	<label for="content">Contenus</label>
            	<input type="text" class="form-control{% if flash.errors.content %} is-invalid{% endif %}" name="content" placeholder="Contenus" value="{{ old.content }}"/>
            	{% if flash.errors.content %}
                	<span class="text-danger">{{ flash.errors.content }}</span>
                {% endif %} 
            </div>
            <input type="submit" class="btn btn-primary" name="submit" value="Ajouter" />
        </form>
    </div>
	
{% endblock %}