{% extends "layout.twig" %}

{% block content %}



<div class="row" id="admin-panel">
    <div class="col-lg-2">
    	<div id="profile-wrapper">
    		<img src="images/avatar_default.png" class="rounded-circle" height="70px" width="70px" />
    	</div>
    	<nav class="navbar bg-light">
    		<ul class="nav nav-pills">
    			<li class="nav-item">
    				<a class="nav-link active" href="#reports-wrapper" data-toggle="pill">Signalements</a>
    			</li>
    			<li class="nav-item">
    				<a class="nav-link" href="#edit-tab" role="tab" data-toggle="pill">Moderation</a>
    			</li>
    			<li class="nav-item">
    				<a class="nav-link" href="#members-tab" data-toggle="pill">Membres</a>
    			</li>
    			<li class="nav-item">
    				<a class="nav-link" href="#quarantine-tab" data-toggle="pill">Quarantaine</a>
    			</li>
    			<li class="nav-item">
    				<a class="nav-link" href="#logs-tab" data-toggle="pill">Logs</a>
    			</li>
    		</ul>
    	</nav>
    </div>
    <div class="col-lg-10 tab-content">
        <div id="reports-wrapper" class="admin-tab tab-pane fade show active" role="tabpanel">
        	{% if not reportsNbr %}
        		<p>Il n'y a pas de signalements !</p>
        	{% endif %}
    	    {% if reportsNbr == 1 %}
            	<div class="alert alert-warning">
            		<i class="fas fa-exclamation-triangle"></i>
            		<span>Il y a {{ reportsNbr }} signalement reporté par la communauté</span>
            	</div>
           	{% elseif reportsNbr > 1 %}
           		<div class="alert alert-danger">
            		<i class="fas fa-exclamation-triangle"></i>
            		<span>Il y a {{ reportsNbr }} signalements reportés par la communauté</span>
            	</div>
            {% endif %}
            {% if reportsNbr > 0 %}
            	<div id="img-report-wrapper" class="d-flex justify-content-around flex-row flex-wrap">
            	<span id="clear-btn">
            		<a href="admin/clear"><i class="fas fa-times"></i></a>
            	</span>
            	{% for posts in reportedPosts %}
            		<div class="card img-single-report">
            			<div class="image-reported-wrapper">
            				<img class="card-img-top image-reported" src="uploads/photos/{{ posts.filename }}" />
            			</div>
            			<div class="card-body img-info-panel">
            				<div class="alert alert-warning">Cette image a éte reportée {{ posts.reported }} fois</div>
            				<h2 class="card-title">{{ posts.name }}</h2>
            				<div class="admin-btn-panel">
            					<div class="admin-btn-container">
                					<form id="getreport" method="POST" action="admin/getreport">
                        				<input type="hidden" id="imgId" class="imgId" name="postId" value="{{ posts.id }}" />
                        				<button class="admin-btn edit" href="#edit-tab" role="tab" data-toggle="pill">
                        					<i class="fas fa-edit"></i>Editer post
                        				</button>
                    				</form>
                				</div>
            					<div class="admin-btn-container">
                        			<form id="deleteImg" method="POST" action="admin/delete">
                    					<input type="hidden" id="imgId" class="imgId" name="postId" value="{{ posts.id }}" />
                    					<button class="admin-btn delete">
                    						<i class="fas fa-trash-alt"></i>Supprimer post
                    					</button>
                					</form>
            					</div>
            				</div>
            			</div>
            		</div>
            	{% endfor %}
            	</div>
            {% endif %}
    	</div>
    	<div class="admin-tab tab-pane fade" id="edit-tab" role="tabpanel">
			<h3>Editer un post</h3>
    		<form id="editPost" method="POST" action="admin/edit" >
    			<div class="form-group">
    				<label for="name">Titre</label>
    				<input id="name" type="text" class="form-control" name="name">
    			</div>
    			<div class="form-group">
    				<label for="author">Auteur</label>
    				<input id="author" class="form-control" type="text" name="author" readonly>
    			</div>
    			<div class="form-group">
    				<label for="content">Description</label>
    				<textarea class="form-control" id="description" name="description" rows="2"></textarea>
    			</div>
    			<input type="hidden" id="edit-imgId" name="postId" />
    			<button type="submit" href="#edit-tab" class="btn btn-primary">Editer</button>
    		</form>
    	</div>
    	<div id="members-tab" class="admin-tab tab-pane fade" role="tabpanel">
    		<div id="members-tab-header">
    			<h3><i class="fas fa-users"></i><span id="member-count"></span> Membres</h3>
    			<span id="members-sort" class="admin-pill">
    				Plus récent
    				<i class="fas fa-chevron-down"></i>
    			</span>
    		</div>
    		<div id="members-card-wrapper">
        		{% for members in membersList %}
        		<div class="member-card">
        			<img src="uploads/avatar/{{ members.avatar_file }}" class="rounded-circle" alt="{{ friendship.name }} avatar" height="100">
        			<h4>{{ members.name }}</h4>
        			<p>Inscrit le : {{ members.date_fr }}</p>
        		</div>
    		    {% endfor %}
    		</div>
    	</div>
    	<div id="quarantine-tab" class="admin-tab tab-pane fade" role="tabpanel">
    		<h3><i class="fas fa-radiation-alt"></i>Zone de Quarantaine</h3>
    		{% if not fileQuarantine %}
    		<p>Il n'y a aucunes images placées en quarantaine</p>
    		{% else %}
			<p>Il y a {{ fileQuarantine }} images placées en quarantaine</p>
			<a href="admin/clearquar" class="btn btn-primary">Vider ?</a>
			{% endif %}
    	</div>
    	<div id="logs-tab" class="admin-tab tab-pane fade" role="tabpanel">
			<h3><i class="fas fa-clipboard-list"></i>Logs modération</h3>
		    {% for logs in logs %}
			<div class="logs-card">
				<h4>{{ logs.old_name }}</h4>
				<p>{{ logs.old_content }}</p>
			</div>
		    {% endfor %}
    	</div>
	</div>
</div>

<div id="overlay" class="overlay">
	<div class="row">
		<div id="admin-image-wrapper" class="col-lg-8 mx-auto">
    		<span class="icon-exit" id="cross-admin">
        		<i class="fas fa-times"></i>
        	</span>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-10">
	    {{ dump(reportedPosts) }}
	</div>
</div>

{% endblock %}