{% extends "layout.twig" %}

{% block content %}

{{ include ('flash.twig') }}

<div class="row">
    	<div id="admin-panel" class="col-lg-12 mt-3" >
        	<div class="row" id="admin-header">
        		<div id="admin-avatar-container" class='col-lg-2 text-center'>
            		{% if session_avatar == 'no_avatar' %}
                	<img id="admin-avatar" src="uploads/avatar/avatar_default.png" alt="my-avatar" class="img-thumbnail" width="200" />
                	{% else %}
                	<img id="admin-avatar" src="uploads/avatar/{{ username }}/{{ session_avatar }}" alt="my-avatar" class="img-thumbnail" width="200" />
                	{% endif %}
                </div>
        		<div id="admin-title" class="col-lg-5">
            		<h1 class="mt-4">Administration</h1>
            	</div>
            </div>
            
            <div class="row">
            	<div id="admin-sidebar" class="col-lg-2 px-1 mt-5">

                	<nav id="admin-nav-container" class="navbar bg-light">
                		<ul id="admin-nav" class="nav nav-pills">
                			<li class="nav-item">
                				<a class="nav-link active" href="#dashboard-admin-tab" data-toggle="pill"><i class="fas fa-home fa-fw"></i>&nbsp; Tableau de bord</a>
                			<li class="nav-item">
                				<a class="nav-link" href="#reports-wrapper" data-toggle="pill"><i class="fas fa-flag fa-fw"></i>&nbsp; Signalements</a>
                			</li>
                			<li class="nav-item">
                				<a class="nav-link" href="#members-tab" data-toggle="pill"><i class="fas fa-users fa-fw"></i>&nbsp; Membres</a>
                			</li>
                			<li class="nav-item">
                				<a class="nav-link" href="#responsive-tab" data-toggle="pill"><i class="fas fa-history fa-fw"></i>&nbsp; Historique</a>
                			</li>
                			<li class="nav-item">
                				<a class="nav-link" href="#debug-tab" data-toggle="pill"><i class="fa fa-bug fa-fw" aria-hidden="true"></i>&nbsp; Debug</a>
                			</li>
                		</ul>
                	</nav>
                </div>
                <div class="col-lg-10 tab-content admin-tab">
            		<div id="dashboard-admin-tab" class="tab-pane fade show active" role="tabpanel">
            		
            		<!--  
            		<div class="row">
            			<div class="col-lg-6">
            				<div class="dashboard-title">
                				<i class="fas fa-tools"></i>
                				<h2>Outils</h2>
            				</div>
            				<div class="admin-hr"></div>
            			</div>
            			<div class="col-lg-6">
            				<div class="dashboard-title">
                				<i class="fas fa-chart-area"></i>
                				<h2>Statistiques</h2>
            				</div>
            				<div class="admin-hr"></div>
            			</div>
            		</div>
            		-->
            		
            		<div class="row mb-4">
            			
            			<div class="col-lg-6">
            				<div class="row">
            					<div class="col-lg-12 mb-4">
                    				<div class="dashboard-title">
                        				<i class="fas fa-tools"></i>
                        				<h2>Outils</h2>
                    				</div>
                    				<div class="admin-hr"></div>
                    			</div>
                				<div class="col-lg-12 mb-3">
                    				<div class="card">
                        				<div class="card-header">
                        					<h4>Zone de Quarantaine</h4>
                        				</div>
                        				<div class="card-body">
                                			{% if not fileQuarantine %}
                                    			
                                    			<p>Il n'y a aucune photos placées en quarantaine</p>
                                    		{% else %}
                                    			<p>Il y a {{ fileQuarantine }} photos placées en quarantaine</p>
                                    		<div class="button-wrapper">
                            					<a href="admin/clearquar" class="btn btn-primary">Vider ?</a>
                            				</div>
                            				{% endif %}
                            			</div>
                    				</div>
                				</div>
                				<div class="col-lg-12 mb-3">
                					<div class="card">
                						<div class="card-header">
                							<h4>Photos orphelines</h4>
                						</div>
                						<div class="card-body">
                							<p>Des photos sont orphelines de leurs posts pour d'étranges raisons durant mes tests</p>
                						</div>
                					</div>
                				</div>
            				</div>
            			</div>
            			
            			<div class="col-lg-6">
            				<div class="row">
            				
            					<div class="col-lg-12 mb-4">
                    				<div class="dashboard-title">
                        				<i class="fas fa-chart-area"></i>
                        				<h2>Statistiques</h2>
                    				</div>
                    				<div class="admin-hr"></div>
                				</div>
            					<div class="col-lg-12">
                    				<div class="row justify-content-around">
                        				<div id="stats-photos" class="col-sm-5 dashboard-card card-stats">
                        				<span class="photos-count">
                        					<i class="fas fa-image"></i>
                        					{{ totalPhoto }}
                        				</span>
                        				<p>photos</p>
                            			</div>
                            			<div id="stats-comments" class="col-sm-5 dashboard-card card-stats">
                            				<span class="comments-count">
                            					<i class="fas fa-comments"></i>
                            					{{ commentsNbr }}
                            				</span>
                            				<p>commentaires</p>
                            			</div>
                            			<div id="stats-likes" class="col-sm-5 dashboard-card card-stats">
                            				<span class="likes-count">
                            					<i class="fas fa-heart"></i>
                            					{{ likesNbr }}
                            				</span>
                            				<p>mention j'aime</p>
                            			</div>
                            			<div id="stats-members" class="col-sm-5 dashboard-card card-stats">
                            				<span class="likes-count">
                            					<i class="fas fa-users"></i>
                            					{{ membersNbr }}
                            				</span>
                            				<p>photographes</p>
                            			</div>
                        			</div>
                    			</div>
                			</div>
            			</div>
            		
            		</div>
            		
            		<div class="row">
            			<div class="col-lg-12 mb-4">
            				<div class="dashboard-title">
                				<i class="fas fa-flag"></i>
                				<h2>Signalements</h2>
            				</div>
            				<div class="admin-hr"></div>
            			</div>
            			<div class="col-sm-6">
            				<div class="card">
            					<div class="card-body">
                    				<h3>Posts & Photos</h3>
                    				{% if not reportsNbr %}
                    				<div class="alert alert-success">
                                		<span>Bonne nouvelle ! Il n'y a aucun signalements</span>
                                	</div>
                    				{% elseif reportsNbr == 1 %}
                                	<div class="alert alert-warning">
                                		<i class="fas fa-exclamation-triangle"></i>
                                		<span>{{ reportsNbr }} signalement reporté par la communauté</span>
                                	</div>
                               	    {% elseif reportsNbr > 1 %}
                               		<div class="alert alert-danger">
                                		<i class="fas fa-exclamation-triangle"></i>
                                		<span>{{ reportsNbr }} signalements reportés par la communauté</span>
                                	</div>
                                    {% endif %}
                                </div>
                            </div>
            			</div>
            			
            			<div class="col-sm-6">
            				<div class="card">
            					<div class="card-body">
                    				<h3>Commentaires</h3>
                    				{% if not reportedComments %}
                    				<div class="alert alert-success">
                                		<span>Il n'y a aucun commentaires signalés</span>
                                	</div>
                    				{% else %}
                    				<div class="alert alert-warning">
                                		<i class="fas fa-exclamation-triangle"></i>
                                		<span>{{ reportedComNbr }} signalements reportés par la communauté</span>
                                	</div>
                                	{% endif %}
                            	</div>
            				</div>
            			</div>
            			
            		</div>
            		        		
            	</div>
            	<!-- End Dashboard -->
                <div id="reports-wrapper" class="tab-pane fade show" role="tabpanel">
                
                	<div id="menu-pills">
                		<ul class="nav nav-pills" role="tablist">
        					<li class="nav-item">
        						<a class="nav-link profile-pills active" data-toggle="tab" href="#reports-posts-duo" role="tab">
        						<i class="fas fa-images"></i>
        						Posts
        						</a>
        					</li>
        					<li class="nav-item ">
        						<a class="nav-link profile-pills" data-toggle="tab" href="#reports-comments-duo" role="tab">
        						<i class="fas fa-comments"></i>
        						Commentaires
        						</a>
        					</li>
        				</ul>
                	</div>
                	
                	<div id="report-tab-content" class="tab-content">
                	
                		<div id="reports-posts-duo" class="tab-pane fade show active" role="tabpanel">
                        	
                            	{% if reportsNbr == 0 %}
                            		<div class="empty-div">
                            			<img src="images/question_mark.png" alt="empty-content">
                            			<div class="alert alert-primary">
                                    		<i class="far fa-smile-wink"></i>
                                    		<span>Il n'y a pas de signalements</span>
                                    	</div>
                            		</div>
                            	{% else %}
                                	<div class="adm-tab-header mb-3">
                            	    {% if reportsNbr == 1 %}
                                    	<div class="alert alert-warning">
                                    		<i class="fas fa-exclamation-triangle"></i>
                                    		<span>Il y a {{ reportsNbr }} post signalé par la communauté</span>
                                    	</div>
                                   	{% elseif reportsNbr > 1 %}
                                   		<div class="alert alert-danger">
                                    		<i class="fas fa-exclamation-triangle"></i>
                                    		<span>Il y a {{ reportsNbr }} posts signalés par la communauté</span>
                                    	</div>
                                    {% endif %}
                                    <a class="btn back-dashboard" title="Vider signalements" href="admin/clear"><i class="fas fa-trash"></i></a>
                                    </div>
                                {% endif %}
                                
                            		
                            {% if reportsNbr > 0 %}
                            <div class="row d-flex justify-content-between">
                            	<!--  <div id="img-report-wrapper" class="d-flex justify-content-around flex-row flex-wrap"> -->
                            	
                            	{% for posts in reportedPosts %}
                            		<!--<div class="card img-single-report"> -->
                            		<div class="col-lg-5">
                            			<div class="card hoverable">
                                			<img class="card-img-top" src="uploads/thumbnails/{{ posts.filename }}" />
                                			<div class="card-body">
                                				<div class="admin-bandeau">
                                					<div class="alert alert-warning">Cette image a éte signalée {{ posts.nbReports }} fois</div>
                                					<form id="clearPostReport" method="POST" action="admin/clear-reports/post">
                                            			<input type="hidden" id="imgId" class="imgId" name="postId" value="{{ posts.id }}" />
                                            			<button class="btn square" title="Vider signalement" ><i class="fas fa-check"></i></button>
                                        			</form>
                                				</div>
                                				<h2 class="card-title">{{ posts.name }}</h2>

                                				<div class="admin-btn-panel">
                                					<div class="admin-btn-container">
                                    					<form id="getreport" method="POST" action="admin/getreport">
                                            				<input type="hidden" id="imgId" class="imgId" name="postId" value="{{ posts.id }}" />
                                            				<button class="admin-btn edit" role="tab" data-toggle="pill">
                                            					<i class="fas fa-edit mr-2"></i>Editer
                                            				</button>
                                        				</form>
                                    				</div>
                                					<div class="admin-btn-container">
                                            			<form id="deleteImg" method="POST" action="admin/delete">
                                        					<input type="hidden" id="imgId" class="imgId" name="postId" value="{{ posts.id }}" />
                                        					<button class="admin-btn delete">
                                        						<i class="fas fa-trash-alt mr-2"></i>Supprimer
                                        					</button>
                                    					</form>
                                					</div>
                                				</div>
                                			</div>
                            			</div>
                            		</div>
                            	{% endfor %}
                            	<div id="form-collapse" class="col-lg-12 mt-5 collapse">
                            		<div class="card">
                            			<div class="card-header d-flex justify-content-between">
                            				<h5>Editer un post</h5>
                            				<button class="btn back-dashboard" data-toggle="collapse" data-target="#form-collapse" title="Fermer"><i class="fa fa-times" aria-hidden="true"></i></button>
                            			</div>
                            			<div class="card-body">
                                			<div class="row">
                                    			<div class="col-lg-6">
                                    				<form id="editPost" method="POST" action="admin/edit" >
                                            			<div class="form-group">
                                            				<label for="name">Titre</label>
                                            				<input id="name" type="text" class="form-control" name="name">
                                            			</div>
                                            			<div class="form-group">
                                            				<label for="author">Auteur</label>
                                            				<input id="author" class="form-control" type="text" name="author" readonly>
                                            			</div>
                                            			<div class="form-group">
                                            				<label for="content">Description</label>
                                            				<textarea class="form-control" id="description" name="description" rows="2"></textarea>
                                            			</div>
                                            			<input type="hidden" id="edit-imgId" name="postId" />
                                            			<button type="submit" href="#edit-tab" class="btn btn-primary">Editer le Post</button>
                                        			</form>
                                    			</div>
                                    			<div class="col-lg-6" id="edit-preview"></div>
                                    		</div>
                            			</div>
                            			
                            		</div>
                            	</div>
                            </div>
                            {% endif %}
                        </div>
                        
                        <!-- End Post Report sub-tab -->
                        
                        <div id="reports-comments-duo" class="tab-pane fade" role="tabpanel">
                    		<div id="reported-comments-container">
                        		
                        		<div id="reported-comments-wrapper">
                            		<div class="row d-flex justify-content-between">
                                		{% if reportedComments == null %}
                                		<div class="empty-div">
                                			<img src="images/question_mark.png" alt="empty-content">
                                			<div class="alert alert-primary">
                                        		<i class="far fa-smile-wink"></i>
                                        		<span>Il n'y a pas de signalements</span>
                                        	</div>
                                		</div>
                                		{% else %}
                                		<div class="col-lg-12 adm-tab-header mb-3">
                                			<div class="alert alert-warning">
                                        		<i class="fas fa-exclamation-triangle"></i>
                                        		<span>Il y a {{ reportedComNbr }} commentaires signalés</span>
                                			</div>
                                			<a class="btn back-dashboard" title="Vider signalements" href="admin/clear-reports/comments"><i class="fas fa-trash"></i></a>
                                		</div>
                                        	{% for comment in reportedComments %}
                                        	<div class="col-md-5">
                                        		<div class="card reported-comment" data-id={{ comment.id }}>
                                        			<div class="com-logs-header">
                                        				{% if comment.avatar_file == NULL %}
                                                		<img src="uploads/avatar/avatar_default.png" class="avatar-mini" alt="{{ author.id }} avatar" height="60" width="auto">
                                                	    {% else %}
                                                		<img src="uploads/avatar/{{ comment.name }}/{{ comment.avatar_file }}" class="rounded" alt="{{ author.id }} avatar" height="60" width="auto">
                                                	    {% endif %}
                                                	    <div class="com-logs-meta">
                                                    	    <h4>{{ comment.name }}</h4>
                                                    	    <p><i class="far fa-clock mr-1"></i>{{ comment.com_date }}</p>
                                                	    </div>
                                                	    <a class="btn square com-logs-clear" href="admin/clear-reports/comment?commentId={{ comment.id }}" title="Vider signalement"><i class="fas fa-check"></i></a>
                                        			</div>
                                        			            			
                                                	<div class='card-body'>
                                                    	<p class='card-text comment-content'>{{ comment.content }}</p>
                                                	</div>
                                                	<div class="card-footer d-flex justify-content-around">
                                            	        <form id="admin-edit-comment">
                                            	        	<input type="hidden" name="commentId" value="{{ comment.id }}" />
                                            	        	<button class="btn btn-primary mod" type="submit"><i class="fas fa-edit"></i></button>
                                            	        </form>
                                            	        <form id="admin-delete-comment">
                                            	        	<input type="hidden" name="commentId" value="{{ comment.id }}" />
                                            	        	<button class="btn btn-primary delete-com" type="submit" ><i class="fas fa-trash"></i></button>
                                            	        </form>
                                        	        </div>
                                        		</div>
                                        	</div>
                                        	{% endfor %}
                                        	<div id="edit-comment-collapse" class="col-lg-5 collapse">
                                    			<div id="admin-edit-wrapper" class="card">
                                    				<div class="d-flex justify-content-between mb-1">
                                    					<h4 class="mb-0">Editer commentaire</h4>
                                    					<button id="hide-edit-form" class="btn" title="Fermer le volet" aria-label="Hide"><i class="fas fa-times"></i></button>
                                    				</div>
                                            		<form id="editComment" method="POST" action="admin/edit/comment" >
                                            			<div class="form-group">
                                            				<textarea class="form-control" id="input-content" name="content" rows="2"></textarea>
                                            			</div>
                                            			<input type="hidden" id="input-id" name="commentId" />
                                            			<button type="submit" href="#edit-tab" class="btn btn-primary">Modérer le commentaire</button>
                                            		</form>
                                        		</div>
                                        	</div>
                                        {% endif %}
                                	</div>
                            	</div>
                    		</div>
            			</div>
                        
                        
                    </div>
            	</div>
            	
            	<!-- End Reports tab -->
            
            	<div id="members-tab" class="tab-pane fade" role="tabpanel">
            		<div id="members-tab-container">
                		<div id="members-tab-header">
                			<h3><i class="fas fa-users"></i><span id="member-count"></span> Membres</h3>
                		</div>
                		<div id="members-card-wrapper">
                    		<div class="row">
                        		{% for members in membersList %}
                        		<div class="col-lg-12 mt-4">
                            		<div class="card">
                                		<div class="card-body d-flex flex-row align-items-center">
                                			{% if members.avatar_file == NULL %}
                                			<div class="avatar-wrapper">
                                        		<img src="uploads/avatar/avatar_default.png" class="avatar-mini" alt="{{ members.name }} avatar" height="60" width="auto">
                                        	</div>
                                        	{% else %}
                                        	<div class="avatar-wrapper">
                                        		<img class="rounded" src="uploads/avatar/{{ members.name }}/{{ members.avatar_file }}" alt="{{ members.name }} avatar" height="60" width="auto">
                                        	</div>
                                        	{% endif %}
                                        	<div class="adm-member-item">
                                        		<h4>{{ members.name }}</h4>
                                        	</div>
                                        	<div class="adm-member-item">
                                				<p>Membre depuis {{ members.days_timestamp }} jours</p>
                                			</div>
                                			<div class="adm-member-item">
                                				<i class="fas fa-images mr-1 text-muted"></i>{{ members.nbrPosts }}
                                			</div>
                                			<div class="adm-member-item">
                                				<i class="fas fa-comments mr-1 text-muted"></i>{{ members.nbrComments }}
                                			</div>
                                		</div>
                            		</div>
                        		</div>
                    		    {% endfor %}
                    		</div>
                		</div>
                		<div class="pagination-wrapper">
            			    <nav aria-label="Page navigation">
                          		<ul id="admin-pagination" class="pagination">
                            		<li class="page-item {% if pagination.currentPage == 1 %}disabled{% endif %}"><a class="page-link" data-page='{{ pagination.previousPage }}' href="#">Précédent</a></li>
                                        {% for i in range(1, pagination.totalPages) %}
                            			<li class="page-item {% if pagination.currentPage == i %}active{% endif %}"><a class="page-link" data-page='{{ i }}' href="#">{{ i }}</a></li>
                                        {% endfor %}
                            		<li class="page-item {% if pagination.currentPage == pagination.totalPages %}disabled{% endif %}"><a class="page-link" data-page='{{ pagination.nextPage }}' href="#">Suivant</a></li>
                          		</ul>
                    		</nav>
                		</div>
                	</div>
            	</div>
            	<!-- End Members tab -->
            	
            	<!-- Logs Tab -->
            	<div id="responsive-tab" class="tab-pane fade" role="tabpanel">
            		<div id="menu-pills">
            		
            			<ul class="nav nav-pills" role="tablist">
        					<li class="nav-item">
        						<a class="nav-link profile-pills active" data-toggle="tab" href="#logs-posts" role="tab">
        						<i class="fas fa-images"></i>
        						Posts
        						</a>
        					</li>
        					<li class="nav-item ">
        						<a class="nav-link profile-pills" data-toggle="tab" href="#logs-comments" role="tab">
        						<i class="fas fa-comments"></i>
        						Commentaires
        						</a>
        					</li>
        				</ul>
            		
            		</div>
            		<!-- Logs Posts -->
            		<div class="tab-content">
        				<div id="logs-posts" class="tab-pane fade show active" role="tabpanel">
        				       			
        				    <!-- No post logs at all -->      				    
        					{% if not logs_del and not logs_edit %}
                    		<div class="alert alert-primary">
                                <i class="far fa-smile-wink"></i>
                                <span>Il n'y a pas d'historique de modération de posts</span>
                            </div>
                        	{% else %}
                        	
                        	<!-- Edited post logs -->
                        	{% if not logs_edit %}
                            	<div class="alert alert-primary">
                                	<i class="far fa-smile-wink"></i>
                                	<span>Il n'y a pas d'historique de posts edités</span>
                            	</div>
                            {% else %}
        					<div class="adm-tab-header mb-3">
        						<div class="alert alert-secondary">
                            		<i class="fa fa-history" aria-hidden="true"></i>
                            		<span>Historique de posts</span>
                            		<span class="badge badge-pill badge-info">Modifiés</span>
                                </div>
                                <a class="btn back-dashboard" title="Vider historique modération" href="admin/clear-logs/posts"><i class="fas fa-trash"></i></a>
                            </div>
    						<!-- Logs Edited -->
                        	<div class="row d-flex justify-content-between">
                        		
                        		
                        		{% for logs in logs_edit %}
                        		{% if logs.mod_type == 'M' %}
                            	<div class="col-lg-5 post-log">
                            		<div class="card hoverable">
                            		
                        				{% if logs.filename %}
                        				<img class="card-img-top" src="uploads/thumbnails/{{ logs.filename }}" alt="" class="img-fluid image-profile rounded shadow-sm">
                        				{% else %}
                        				<img class="card-img-top" src="uploads/thumbnails/e30632acb3ae0f90.jpg" alt="" class="img-fluid image-profile rounded shadow-sm">
                        				{% endif %}
                        				<div class="card-body">
                                    		<div class="logs-header d-flex align-items-center">
                                    			<h4 class="mb-0" title="titre original">{{ logs.old_name }}</h4>
                                    			<span class="logs-date"><i class="far fa-clock"></i>&nbsp; {{ logs.date }}</span>
                    						    <button class="btn expandPostButton flipCross"><i class="fas fa-chevron-down"></i></button>
                                    		</div>
                						    <p title="Contenus original">{{ logs.old_content }}</p>
                                		
                                			<!-- Card Collapse -->
                						    <div class="collapse">
                                				<hr>
                                				<h5 class="text-muted text-center">Contenus moderé</h5>
                                				<h4>{{ logs.new_name }}</h4>
                        						<p class="mb-2">{{ logs.new_content }}</p>
        										<p class="text-muted text-center"><small><i class="far fa-clock"></i>&nbsp; Moderé le {{ logs.mod_date }}</small></p>
                                			</div>
										</div>
                                	</div>
                            	</div>
                            	{% endif %}
                            	{% endfor %}
							
                        	</div>
                        	{% endif %}
                        	<hr>
                        	<!-- Deleted post logs -->
                        	{% if not logs_del %}
                            	<div class="alert alert-primary">
                                	<i class="far fa-smile-wink"></i>
                                	<span>Il n'y a pas d'historique de posts supprimés</span>
                            	</div>
                            {% else %}
                        	<div class="adm-tab-header mb-3">
        						<div class="alert alert-secondary">
                            		<i class="fa fa-history" aria-hidden="true"></i>
                            		<span>Historique de posts</span>
                            		<span class="badge badge-pill badge-danger">Supprimés</span>
                                </div>
                            </div>
                        	<div class="row d-flex justify-content-between">
                        	
                        		{% for logs in logs_del %}
                        		
                            		{% if logs.mod_type == 'D' %}
                            		<div class="col-lg-5 post-log">
                                		<div class="card hoverable">
                                			{% if logs.filename %}
                            				<img class="card-img-top" src="uploads/thumbnails/{{ logs.filename }}" alt="" class="img-fluid image-profile rounded shadow-sm">
                            				{% else %}
                            				<img class="card-img-top" src="images/placeholder.png" alt="" class="img-fluid image-profile rounded shadow-sm">
                            				{% endif %}
                            				<div class="card-body">
                                        		<div class="logs-header d-flex align-items-center">
                                        			<h4 class="mb-0" title="titre original">{{ logs.old_name }}</h4>
                                        			<span class="logs-date"><i class="far fa-clock mr-1"></i>{{ logs.date }}</span>
                        						    <button class="btn expandPostButton flipCross"><i class="fas fa-chevron-down"></i></button>
                                        		</div>
                    						    <p title="Contenus original">{{ logs.old_content }}</p>
                                    		
                                    			<!-- Card Collapse -->
                    						    <div class="collapse">
                                    				<hr>
                                    				<h5 class="text-muted text-center">Contenus moderé</h5>
            										<p class="text-muted text-center"><small><i class="far fa-clock mr-1"></i>Moderé le {{ logs.mod_date }}</small></p>
                                    			</div>
    										</div>
                                		</div>
                                	</div>
                            		{% endif %}
                        		{% endfor %}
                        	
                        	
                        	</div>
                        	{% endif %} <!-- End deleted post logs -->
                        	{% endif %} <!-- End Logs Posts -->
                        	
        				</div>
        				<!-- End Logs Posts -->
        				
        				<!-- Logs Comments -->
        				<div id="logs-comments" class="tab-pane fade" role="tabpanel">
        				
        					{% if not logs_com %}
                    		<div class="alert alert-primary">
                                <i class="far fa-smile-wink"></i>
                                <span>Il n'y a pas d'historique de modération de commentaires</span>
                            </div>
                        	{% else %}
        					<div class="adm-tab-header mb-3">
        						<div class="alert alert-secondary">
                            		<i class="fa fa-history" aria-hidden="true"></i>
                            		<span>Historique de commentaires</span>
                                </div>
                                <a class="btn back-dashboard" title="Vider historique modération" href="admin/clear-logs/comments"><i class="fas fa-trash"></i></a>
                            </div>
                            
                        	<div class="row d-flex justify-content-between">
                        		
                        		{% for logs in logs_com %}
                            	<div class="col-lg-5 mb-5">
                            		<div class="card hoverable">
                            			<div class="com-logs-header">
                            				
                            				{% if logs.avatar_file == NULL %}
                                        	<img src="uploads/avatar/avatar_default.png" class="avatar-mini" alt="{{ logs.name }} avatar" height="60" width="auto">
                                        	{% else %}
                                        	<img src="uploads/avatar/{{ logs.name }}/{{ logs.avatar_file }}" class="avatar-mini rounded" alt="{{ logs.name }} avatar" height="60" width="auto">
                                        	{% endif %}
                                        	<div class="com-logs-meta">
                                            	<div class="d-flex flex-row justify-content-between">
                                            		<h4>{{ logs.name }}</h4>
                                            		<button class="btn flipCross expandCom"><i class="fas fa-chevron-down"></i></button>
                                            	</div>
                                            	<div class="logs-header">
                                        			<span class="logs-date"><i class="far fa-clock mr-1"></i>{{ logs.com_date}}</span>
                                            		{% if logs.mod_type == 'M' %}
                        							<span class="badge badge-pill badge-info">Modifié</span>
                        						    {% else %}
                        						    <span class="badge badge-pill badge-danger">Supprimé</span>
                        						    {% endif %}
                                        		</div>
                                    		</div>
                            			
                            			</div>
                            			<div class="card-body">
                                        	<p title="Contenus original">{{ logs.old_content }}</p>
                                        	<!-- Card Collapse -->
                                        	<div class="com-logs-hidden collapse">
                                        		<hr>
                                        		<p class="text-muted text-center">Contenus moderé</h5>
                                        		<p title="Contenus moderé">{{ logs.new_content }}</p>
                                        		<p class="text-muted text-center"><small><i class="far fa-clock mr-1"></i>Moderé le {{ logs.mod_date }}</small></p>
                                        	</div>
                                    	</div>
                                	</div>
                            	</div>
                            	{% endfor %}
                            	
                            	
                        	</div>
                        	{% endif %}
        				</div>
        				<!-- End Logs Comments -->
    				</div>
            	</div>
            	<div id="debug-tab" class="tab-pane fade" role="tabpanel">
                	<div class="row">
                    	<div class="col-lg-7">
                    		<h2>Mise en ligne</h2>
                    		<form id="admin-upload-form" method="post" action="/admin/debugupload" id="form" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="titre">Nom</label><br />
                                    <input type="text" class="form-control" name="name" placeholder="Titre de la photo" id="titre" required />
                                </div>
                                <div class="form-group">
                                	<label for="description">Description post</label>
                                	<textarea class="form-control" rows="2" name="description" id="description" required>Test administration</textarea>
                                </div>
                                <div class="form-group">
                                	<label for="privacy0">Confidentialité de la photo</label><br>
                                    <div class="form-check form-check-inline">
                                    	<input class="form-check-input" type="radio" name="privacy" id="privacy0"value="0" checked>
                                    	<label class="form-check-label" for="privacy0">Publique</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                    	<input class="form-check-input" type="radio" name="privacy" id="privacy1"value="1">
                                    	<label class="form-check-label" for="privacy1">Mes amis</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                    	<input class="form-check-input" type="radio" name="privacy" id="privacy2"value="2">
                                    	<label class="form-check-label" for="privacy2">Privée</label>
                                    </div>
                                    <div class="form-group">
                                		<label for="myfile">Fichier</label><br />
                                		<input type="hidden" name="MAX_FILE_SIZE" value="10048576" />
                                		<input type="file" class="form-control-file" name="myimage" id="myfile" /><br />
                        			</div>
                                </div>
                                <div id="button-wrapper">
                                	<input type="submit" class="btn btn-primary" name="submit" value="Envoyer mon post" />
                                </div>
    
                        	</form>
                        	
                        </div>
                        <div id="preview-upload" class="col-lg-5">
                        </div>
                	</div>
            	</div>
            </div>
            <!-- End main admin tab -->
        </div>
    </div>
</div>


{% endblock %}