{% extends "layout.twig" %}

{% block content %}
{{ include ('flash.twig') }}

    <div class="row">
    	<div id="memberlist-container" class="col-lg-6 mx-auto mt-3">
    		<div id="memberlist-header">
    			<h1><i class="fas fa-users"></i>Liste des membres</h1>
    		</div>
    		<div id="memberlist-wrapper">
    			<div id="memberlist-nav">
    				<div class="membernav-item">Nom</div>
    				<div class="membernav-item">Membre depuis</div>
    				<div class="membernav-item sort-select">
    					<label for="sort">Trier par :</label>
    					<form action="sortmembers" method="GET">
                            <select name="sort" id="sort" onchange="this.form.submit()">
                                <option value="date">Ancienneté</option>
                                <option value="name">Pseudonyme</option>
                            </select>
                    	</form>
    				</div>
    			</div>
                <div id="memberlist">
                    {% for members in memberslist %}
                    <div class="memberlist-card">
                    	{% if members.avatar_file == NULL %}
                    	<img src="uploads/avatar/avatar_default.png" alt="{{ members.name }} avatar" height="60" width="60">
                    	{% else %}
                    	<img src="uploads/avatar/{{ members.name }}/{{ members.avatar_file }}" alt="{{ members.name }} avatar" height="60" width="60">
                    	{% endif %}
                    	<div class="item-test">
                        	<div class="memberlist-item main-items">
                				<h4>{{ members.name }}</h4>
                			</div>
                			<div class="memberlist-item main-items">
                			    {{ members.days_timestamp }} jours
                			</div>
                			<div class="memberlist-item item-status">
                                {% if members.status == 'friend' %}
    							<span class="badge badge-pill badge-success">Amis</span>
    						    {% elseif members.status == 'pending' %}
    							<span class="badge badge-pill badge-secondary">En attente</span>
							    {% else %}
								<span class="badge badge-pill badge-light">-</span>
							    {% endif %}
                			</div>
            			</div>
                      	{% if members.status == 'friend' %}
                      	<form id="removefriend{{ members.id }}"method="POST" action="removefriend">
                          	<input type="hidden" name="myId" value="{{ member }}" />
                          	<input type="hidden" name="memberId" value="{{ members.id }}"/>
                      	</form>
                      	<div class="memberlist-item addfriend-btn-wrapper">
                      		<button class="memberlist-btn removefriend-btn" form="removefriend{{ members.id }}"><i class="fas fa-user-times"></i></button>
                      	</div>
                      	{% elseif members.status == 'pending' %}
                      	<form id="cancelreq{{ members.id }}"method="POST" action="cancelrequest">
                          	<input type="hidden" name="myId" value="{{ member }}" />
                          	<input type="hidden" name="memberId" value="{{ members.id }}"/>
                      	</form>
                      	<div class="memberlist-item addfriend-btn-wrapper">
            				<button class="memberlist-btn cancel-btn" form="cancelreq{{ members.id }}"><i class="fas fa-times"></i></button>
            			</div>
                      	{% else %}
                     	<form id="addfriend{{ members.id }}"method="POST" action="addfriend">
                          	<input type="hidden" name="myId" value="{{ member }}" />
                          	<input type="hidden" name="memberId" value="{{ members.id }}"/>
                      	</form>
                      	<div class="memberlist-item addfriend-btn-wrapper">
            				<button class="memberlist-btn addfriend-btn" form="addfriend{{ members.id }}"><i class="fas fa-user-plus"></i></button>
            			</div>
                      	{% endif %}
                    </div>
    			    {% endfor %}
                </div>
            	<div class="pagination-wrapper">
    			    <nav aria-label="Page navigation example">
                  		<ul class="pagination">
                    		<li class="page-item {% if currentPage == 1 %}disabled{% endif %}"><a class="page-link" href="members?page={{ previousPage }}">Précédent</a></li>
                                {% for i in range(1, totalPages) %}
                    			<li class="page-item {% if currentPage == i %}active{% endif %}"><a class="page-link" href="members?page={{ i }}">{{ i }}</a></li>
                                {% endfor %}
                    		<li class="page-item {% if currentPage == totalPages %}disabled{% endif %}"><a class="page-link" href="members?page={{ nextPage }}">Suivant</a></li>
                  		</ul>
            		</nav>
        		</div>
            </div>
        </div>
    </div>
    

{% endblock %}