{% extends "layout.twig" %}

{% block content %}
{{ include('flash.twig') }}
{{ dump(flash) }}
<div class="row">
    <div class="content-wrapper col-lg-12">
    	<h1>Contenus</h1>
    	{% for content in datas %}
    	<div class="card">
    		<div class="card-body">
    			<p class="card-text">Contenus : {{ content.content }}</p>
    		</div>
    	</div>
    	{% endfor %} 
    	<a href="/flash">Test flash</a>
    	<nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item {% if currentPage == 1 %}disabled{% endif %}"><a class="page-link" href="content?page={{ previousPage }}">Previous</a></li>
            {% for i in range(1, totalPages) %}
            <li class="page-item {% if currentPage == i %}active{% endif %}"><a class="page-link" href="content?page={{ i }}">{{ i }}</a></li>
            {% endfor %}
            <li class="page-item {% if currentPage == totalPages %}disabled{% endif %}"><a class="page-link" href="content?page={{ nextPage }}">Next</a></li>
          </ul>
        </nav>
    </div>
</div>
{% endblock %}