<!DOCTYPE html>
<html lang="fr">
    <head>
    	<meta charset="UTF-8" />
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<link rel="icon" type="image/png" href="images/favicon.png" />
    	<!-- Font Awesome CDN -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    	<!-- Bootstrap CSS -->
    	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light">
        	<div class="container">
            	<!-- <a class="navbar-brand" href="#">P5</a> !-->
            	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            		<span class="navbar-toggler-icon"></span>
            	</button>
            
            	<div id="navbar" class="collapse navbar-collapse main-navbar-real">
            		<ul class="navbar-nav">
            			<a class="navbar-brand" href="#">Blue</a>
            			<li class="nav-item">
            				<a class="nav-link" href="{{ path_for('home') }}">Accueil <span class="sr-only">(current)</span></a>
            			</li>
            			<li class="nav-item">
            				<a class="nav-link" href="{{ path_for('map') }}">Carte</a>
            			</li>
            			<li class="nav-item">
            				<a class="nav-link" href="{{ path_for('upload') }}">Ajouter une photo</a>
            			</li>
            	{% if member %}
            			<li class="nav-item">
            				<a class="nav-link" href="{{ path_for('memberList') }}">Membres</a>
            			</li>
            	{% else %}
            			<li class="nav-item">
            				<a class="nav-link" href="{{ path_for('inscription') }}">S'inscrire</a>
            			</li>
            	{% endif %}
            		</ul>
            	{% if not member %}
            		<button type="button" class="btn login-pill" data-toggle="modal" title="Se connecter" data-target="#login-modal"><i class="fas fa-sign-in-alt"></i></button>
            	    {% else %}
        
    
            	    <ul class="navbar-nav">
            	    	<li class="nav-item dropdown ml-auto">
        	    			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><img src="uploads/avatar/SOku/{{ session_avatar }}" class="rounded-circle" height="40px" width="40px" alt="avatar image"></a>
        	    		    <div class="main-nav-dropdown dropdown-menu">
                                <a class="dropdown-item" href="{{ path_for('profile') }}"><i class="fas fa-user"></i>Mon profil</a>
                                {% if admin %}
                                <a class="dropdown-item" href="{{ path_for('admin') }}"><i class="fas fa-user-cog"></i>Administration</a>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path_for('deconnexion') }}"><i class="fas fa-sign-out-alt"></i>Se deconnecter</a>
                            </div>
        				</li>
        			</ul>
                {% endif %}
            	</div>
        	</div>    	       	
        </nav>
        
        
        <div id="login-modal" class="modal fade" tabindex="-1" role="dialog">
        	<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            	<div id="login-wrapper" class="modal-content">
                	<div id="login-header" class="modal-header">
                    	<h2 class="modal-title">Se connecter</h2>
                    	<button type="button" class="close cross-login" data-dismiss="modal" aria-label="Close">
                    		<i class="fas fa-times"></i>
                    	</button>
                	</div>
                	<div class="modal-body">
                		<form id="login-overlay" method="POST" action="login">
                			<div class="form-group wrap-input">
                				<input class="form-control input-login" type="text" name="uname" placeholder="Pseudonyme" aria-label="Pseudonyme" required>
                				<span class="icon-input">
                					<i class="fa fa-user" aria-hidden="true"></i>
                				</span>
                			</div>
							<div class="form-group wrap-input">
								<input class="form-control input-login" type="password" name="pwd" placeholder="Mot de passe" aria-label="mot de passe" required>
								<span class="icon-input">
                					<i class="fa fa-lock" aria-hidden="true"></i>
                				</span>
							</div>
                		</form>
                	</div>
            		<div class="modal-footer d-flex justify-content-center">
            			<button id="login-btn" class="btn form-button" type="submit" form="login-overlay">Se connecter</button>
            		</div>
            	</div>
        	</div>
        </div>
                 
    	<div id="main-container" class="container">
            {% block content %}{% endblock %}
            
    	</div>
    	<div id="footer">
    		<div class="container">
    			<div class="row">
    				<div class="col-lg-12">
    					<p class="text-center">Projet 5 OCR, conçu avec <i class="fas fa-heart"></i> et beaucoup de <i class="fas fa-coffee"></i></p>
    				</div>
    			</div>
    		</div>
    	</div>
        <!-- jQuery, Popper.js, Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- JS -->
		<script src="js/ext_script/markerclusterer.js"></script>
		<script src="https://unpkg.com/aos@next/dist/aos.js"></script> 
		<script src="js/ext_script/notify.js"></script>
		<script src="js/imageinfos.js"></script>
        <script src="js/map.js"></script>
        
        <script src="js/profile.js"></script>     
        <script src="js/imageviewer.js"></script>
        
        <script src="js/admin.js"></script>
        <script src="js/social.js"></script>
        <script src="js/main.js"></script>
        <script async defer
    	src="https://maps.googleapis.com/maps/api/js?key=API_KEY&callback=initApp">
   		</script>
    </body>
</html>